@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";

a {
  color: inherit;
}

body {
  background-image: url("../images/wallpaper.jpeg");
  background-size: cover;
  padding: 10px 20px;
  color: white;
  font-family: "Open Sans";
}
